html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

input:not(input[type=checkbox]), button {
    -webkit-appearance: none !important;
}

input:not(input[type=checkbox]):focus, button:focus {
     outline: none;
 }